{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
        recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain when
        Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
        Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
        Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
        action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to
        leave on other business, welcomed a fourteenth to fill into their party. 
    </p>

    {% for member in company %} <!-- member could've been any name we chose. IT represents the company list we made as it is iteratted through-->
    <!-- When we used Jinja templating language, an object named loop is created for us. We can then use the property index which labels the iterations starting from 1-->

        <div class="row featurette">

            {% if loop.index % 2 != 0 %} <!-- oddd numbers if statement meaning if loop.index remainder when divider by two is not equal to zero, then this code should run -->

                <div class="col-md-7">
                    <h3><a href="/about/{{member.url}}">{{loop.index}}. {{ member.name }}</a></h3> <!-- Python list methods (listName.name/description/image_source) used to access the paarsed json data from our run2.py file-->
                    <p>
                        {{ member.description }}
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" class="featurette-image image-responsive" alt="">
                </div>

            {% else %} <!--This code runs in every other condition that is not fulfilled in the if statement-->
                
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" class="featurette-image image-responsive" alt="">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{member.url}}">{{loop.index}}. {{ member.name }}</a></h3> <!-- Python list methods (listName.name/description/image_source) used to access the paarsed json data from our run2.py file-->
                    <p>
                        {{ member.description }}
                    </p>
                </div>

            {% endif %}

        </div>

        {% if loop.index !=loop.length %} <!-- If loop.index is not equal to length ( being its full size) , then display our hr. Full docu of Jinja can be found at jinja.palletsprojects.com.-->

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}
{% endblock %}