{% extends "base.html" %} <!-- 1-->
{% block content %}

    <div class="row">
        <div class="col-md-5">
            <img src="{{member.image_source}}" alt="Profile image for {{ member.name }}">
            <h2 class="col-md-7">{{ member.name }}</h2>
        </div>
        <div class="col-md-12">
            <p>{{ member.description }}</p>
        </div>
    </div>

{% endblock %}
<!-- We want to keep the same formating we've established in the rest of the product, therefore we extend the same formatting we've used for thes rest of the project.
Next we populate our responsive elements using jinja double curly bracket notation. We use render_template back in our run2 file to create and populate our member page.-->